@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,600,900");

$usa: #123b46;
$canada: #206075;
$germany: #d8a662;
$uk: #92a281;

* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

.bg-wrapper {
  background-position: center;
  background-size: cover;
  height: 100vh;
  background-color: rgba(35, 14, 14, 0.32);
  background-blend-mode: overlay;
  width: 100%;

  .container {
    width: 80%;
    margin: 0 auto;
  }

  .navbar {
    padding: 25px 0;
    position: relative;
    display: flex;
    justify-content: space-between;

    .logo {
      font-weight: bold;
      color: #fff;
      font-size: 20px;
    }

    .menu a {
      color: #fff;
      text-decoration: none;
      font-weight: 600;
      font-size: 90%;
      margin-left: 10px;
    }
  }

  .content-wrapper {
    color: #fff;
    position: relative;
    top: 20vh;
    width: 60%;
    background-size: 1440px;
    background-position: -217px 637px;
    padding: 20px 0;
    background-blend-mode: overlay;

    .bg-blur img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }

    .text-wrapper {
      z-index: 2;
    }

    .heading h1 {
      font-size: 50px;
      margin-bottom: 20px;
      text-transform: uppercase;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        bottom: -5px;
        height: 2px;
        background: #fff;
        width: 40%;
      }
    }

    .content {
      font-weight: 600;
      font-size: 14px;
    }

    .support {
      background: transparent;
      border: 2px solid #fff;
      color: #fff;
      padding: 10px 25px;
      font-size: 14px;
      font-weight: bold;
      margin-top: 20px;
    }
  }

  .seachbar {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 80%;
    background: #fff;
    left: 50%;
    margin-left: -40%;
  }

  .searchbar-input-container {
    width: 45%;
    padding-top: 25px;
    padding-bottom: 10px;
    padding-left: 10px;

    input {
      width: 85%;
      height: 40px;
      border: 0;
      padding: 0 25px;
      outline: none;
      font-size: 15px;

      &::placeholder {
        font-size: 14px;
        color: #666;
        font-weight: 600;
      }
    }
  }

  .label {
    color: #999;
    font-size: 12px;
    display: block;
    padding: 0px 25px 0;
  }

  .search-filter {
    width: 20%;
    position: relative;
    padding: 25px 20px 0;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      width: 1px;
      height: 50%;
      background: #ccc;
    }

    select {
      width: 100%;
      border: none;
      height: 70%;
      font-size: 14px;
      color: #666;
      font-weight: 600;
      background: #fff;
      outline: none;
      -webkit-appearance: none;

      &::-ms-expand {
        display: none;
      }
    }

    .icon img {
      position: absolute;
      right: 25px;
      top: 49%;
      width: 10px;
      opacity: 0.7;
    }

    label {
      @extend .label;
      padding-left: 0;
    }
  }

  .searchbar-submit-btn {
    width: 15%;

    button {
      width: 100%;
      height: 100%;
      color: #fff;
      border: 0;
      font-weight: bold;
    }

    .btn-usa {
      background: $usa;
    }

    .btn-canada {
      background: $canada;
    }

    .btn-germany {
      background: $germany;
    }

    .btn-uk {
      background: $uk;
    }
  }
}

.bg-usa {
  background-image: url(./us.jpg);
}

.bg-canada {
  background-image: url(./canada.jpg);
}

.bg-germany {
  background-image: url(./germany.jpg);
  background-color: rgba(35, 14, 14, 0.62);
}

.bg-uk {
  background-image: url(./uk.jpg);
  background-color: transparent;
}
